Package: cx.ath.kjhenrie.kindleimport
Version: 1.2.0
Section: misc
Priority: optional
Architecture: all
Installed-Size: 13
Maintainer: kjhenrie@yahoo.com
Description: Sideload compatible books into the Kindle app
webOS-Package-Format-Version: 2
webOS-Packager-Version: 3.0.0b18
