Package: cx.ath.kjhenrie.kindleimport
Version: 1.3.0
Section: misc
Priority: optional
Architecture: all
Installed-Size: 13
Maintainer: kjhenrie@yahoo.com
Description: Kindle Import
webOS-Package-Format-Version: 2
webOS-Packager-Version: 3.0.0b18
